absl-py
bokeh
dm-sonnet
fastapi[all]
gdown
imageio
jax[cpu]
librosa
llvmlite
matplotlib
mido
mir_eval
nest-asyncio
note-seq
numba
numpy
Pillow
pretty_midi
pyfluidsynth
pygtrie
python-rtmidi
scikit-image
scipy
six
sk-video
sox
tensorflow
tensorflow-datasets
tensorflow-probability
tf_slim
